td, th {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: black;
}

th {
    background-color: 	#FF9550;
}

td {
    background-color: #33CDC7;
}

table {
    font-size: 30px;
    text-align: center;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    min-height: 100;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#secondTable {
    min-height: 100px;
    overflow: hidden;
}

#firstRow {
    background-color: #FF9550;
}